*.cmd text eol=crlf
*.csv text eol=crlf
*.inf text eol=crlf working-tree-encoding=UTF-16
*.json text eol=crlf
*.ps1 text eol=crlf
*.reg text eol=crlf
*.txt text eol=crlf
*.xml text eol=crlf

# SCHTASKS fails if task XML is not UTF-16 with BOM
/Unattended/Optional/WindowSwitcher.xml text eol=crlf working-tree-encoding=UTF-16
/Unattended/UnattendedBoot.xml text eol=crlf working-tree-encoding=UTF-16
