/Autounattend.xml
/Drivers/*
/Drivers.import/*
/MSI/*
/Office365/EULA
/Office365/setup.exe
/Office365/Office
/Office365/OneDriveSetup.exe
/Office365/teamsbootstrapper.exe
/Office365/MSTeams-x64.msix
/Tools/*
/Unattended/install.ps1
/Updates/*

!/Drivers/README.md
!/Drivers.import/README.md
!/MSI/README.md
!/Tools/README.md
!/Updates/README.md
